.search {
    position: relative;
    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1.5px solid transparent;

    input {
        height: 100%;
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        caret-color: var(--primary);
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        width: 1px;
        right: 52px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.34);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search,
.search-result {
    width: 361px;
}

.clear,
.loading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(52px + 16px);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    width: 52px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background: rgba(22, 24, 35, 0.03);
    }
}
.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
}
